.description {
  width: 611px;
  top: 210px;
  left: 975px;
  gap: 0px;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: #969696;
}
